<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<nav>

		<div class="logo"></div>

	<div class="menu">
		<a href="">Accueil</a>
		<a href="">Visualiser Notes</a>
		<a href="">Visualiser Cours</a>
		<a href="#" onclick="window.location.href='/logout'">Déconnexion</a>
	</div>
</nav>
	<div class="container-fluid container-fluid-admin">
		<h2>Bienvenue dans Accueil Page etudiants</h2>
	
	</div>
</body>
</html>



    
